body {
    margin: 0;
    background-image: url("../pictures/background.png");
    background-repeat: repeat;
    background-attachment: fixed;
}
div.body {
    background-color: #ffc880;
    width: 80%;
    margin: 75px auto;
    padding: 40px 60px;
}
