ul.nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}
li a:hover:not(.active) {
  background-color: #111;
}
a.current {
  background-color: #ffb600;
}
li.float-left {
  float: left;
}
li.float-right {
  float: right;
}
a.nav-bar-link {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 40px;
  text-decoration: none;
  font-size: 175%;
}
